{% extends "base.html" %}

{% block content %}

<div class="container py-5 text-center">

    <h1 class="text-success">
        Contact Us
    </h1>

    <hr>

    <div class="card shadow p-4">

        <h3>📍 Location</h3>
        <p>Thiruvottiyur, Chennai</p>

        <h3>📞 Phone</h3>
        <p>8056078499</p>

        <h3>🕒 Tuition Timing</h3>
        <p>Evening 6:00 PM - 8:30 PM</p>

        <h3>📚 Sunday Classes</h3>
        <p>Only for 10th & 12th Students</p>

        <a href="https://wa.me/918056078499"
           class="btn btn-success btn-lg mt-3"
           target="_blank">

            Chat on WhatsApp

        </a>

    </div>

</div>

{% endblock %}