{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <h1 class="text-success text-center">
        Courses Offered
    </h1>

    <hr>

    <div class="row mt-5">

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h3 class="text-success">
                        Classes 6th - 10th
                    </h3>

                    <p>
                        All Subjects
                    </p>

                    <p>
                        Strong foundation in Mathematics,
                        Science, English and Social Studies.
                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h3 class="text-success">
                        Classes 11th & 12th
                    </h3>

                    <p>
                        Commerce & Accountancy
                    </p>

                    <p>
                        Specialized coaching for Commerce,
                        Accountancy and Business Studies.
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}