{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <h1 class="text-center text-success">
        Student Enquiry Form
    </h1>

    <hr>

    <form method="POST">

        <div class="mb-3">
            <label class="form-label">Student Name</label>
            <input type="text"
                   name="student_name"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label class="form-label">Parent Name</label>
            <input type="text"
                   name="parent_name"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="text"
                   name="phone"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label class="form-label">Class</label>
            <input type="text"
                   name="class_name"
                   class="form-control"
                   placeholder="Example: 10th Standard"
                   required>
        </div>

        <div class="mb-3">
            <label class="form-label">School Name</label>
            <input type="text"
                   name="school_name"
                   class="form-control"
                   placeholder="Enter School Name">
        </div>

        <div class="mb-3">
            <label class="form-label">Course Interested</label>
            <input type="text"
                   name="course"
                   class="form-control"
                   placeholder="Example: Commerce, Accountancy, Maths"
                   required>
        </div>

        <div class="mb-3">
            <label class="form-label">Message</label>
            <textarea name="message"
                      class="form-control"
                      rows="4"
                      placeholder="Enter your message"></textarea>
        </div>

        <button type="submit"
                class="btn btn-success btn-lg">
            Submit Enquiry
        </button>

    </form>

</div>

{% endblock %}